@import url(./style/normalize.css);
@import url(./style/reset.css);
@import url(./style/fonts.css);




body {
  background: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;
}


 